@font-face {
  font-family: "TG_Comp_Medium";
  src: url("Font/TitlingGothicFBComp-Medium.ttf");
}
@font-face {
  font-family: "TG_Normal_Bold";
  src: url("Font/TitlingGothicFBNormal-Bold.ttf");
}
@font-face {
  font-family: "TG_Normal_Standard";
  src: url("Font/TitlingGothicFBNormal-Standard.ttf");
}

:root {
  --highlight-color: #ff7800;
  /* --button-font-size: 24px; */
  --button-font-size: calc(12px + 0.5vw);

  --Text-color: #000000;
  --Background-color: #ffffff;
}

body {
  background-color: var(--Background-color);
  margin: 0 auto;
  font-family: "TG_Normal_Standard", sans-serif;

  /*Scroll bar tech */
  overflow: overlay;
  overscroll-behavior: none;
  overflow-x: hidden;
}

p {
  font-family: "TG_Normal_Standard", sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: linear-gradient(rgb(0, 0, 0), #ffffff); */
  background: var(--highlight-color);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(transparent, #505050, #505050); */

  background: #ffc368;
}

/* Global */
.ButtonSqurounded {
  background-color: var(--highlight-color);
  border: none;
  font-family: "TG_Normal_Bold";
  text-transform: uppercase;
  font-size: var(--button-font-size);
  white-space: nowrap;

  height: fit-content;
  width: fit-content;
  padding: 0.6em 1.5em 0.6em 1.5em;
  border-radius: 2em 2em 2em 0px;
}

.ButtonSqurounded:hover {
  background-color: black;
  box-shadow: 0px 0px 0px 2px var(--highlight-color) inset;
  color: var(--highlight-color);
}

.ButtonRounded {
  background-color: black;
  box-shadow: 0px 0px 0px 2px #ffffff inset;

  font-family: "TG_Normal_Bold";
  text-transform: uppercase;
  font-size: var(--button-font-size);
  white-space: nowrap;
  color: #ffffff;

  height: fit-content;
  width: fit-content;
  padding: 0.6em 1.5em 0.6em 1.5em;
  border-radius: 2em;
}

.img_4x5Crop {
  margin: 1%;
  max-height: 50vh;
  width: auto;

  aspect-ratio: 4 / 5;

  object-fit: cover;
  object-position: center;

  overflow: hidden;
  border-radius: 15px;
}
.BodyCopy {
  font-family: "TG_Normal_Standard";
  font-weight: normal;
  font-size: calc(14px + 0.6vw);

  color: var(--Text-color);
  /* margin: 1em; */
  max-width: 20em;
  line-height: 1.25em;
}

.Titles {
  font-family: "TG_Normal_Bold";
  font-weight: normal;
  font-size: calc(50px + 2vw);
  line-height: 1.05em;

  text-transform: uppercase;
  font-style: italic;

  margin: 0% 0% 0% -0%;
  color: var(--Text-color);
}

.highlight {
  color: var(--highlight-color);
  /* orange */
  /* color: #ff7800; */
  /* green */
  /* color: #c6ff00; */
  /* magenta */
  /* color: #ff0084; */
}

.SquircleDiv {
  background-color: var(--highlight-color);
  border: none;
  position: absolute;

  margin-left: -3%;

  height: 65px;
  width: 43vw;
  padding: 0.6em 1.5em 0.6em 1.5em;
  border-radius: 0em 0em 2em 0px;
  z-index: -1;
}

/* Nav bar  */
.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
  padding-top: 0.1%;
}
.NavLogo {
  height: auto;
  width: 55px;
  fill: #ffffff;
  z-index: 1;
}

.BurgerWrapper {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;

  position: absolute;
  right: 1.5%;

  /* background-color: rgb(255, 0, 0);  */
  height: 50px;
  width: 50px;
}
.BurgerWrapper:hover {
  .BurgerBar {
    background-color: var(--highlight-color);
    opacity: 50%;
  }
}
.BurgerBar {
  background-color: white;
  height: 7px;
  width: 50px;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
}

.SWCDCircle {
  height: auto;
  width: calc(720px + 10vw);
  fill: #131313;
  z-index: 0;
  position: absolute;
  right: 10%;
  top: 10%;
  transform: rotate(-55deg);
}

/* HomeSplash______________ */
.Splash {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: end;
  align-items: center;

  overflow: hidden;
  position: relative;
  background-color: #000000;
}

.Splash video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
  position: absolute;
  z-index: 0;
}

.ButtonsWrapper {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  margin-bottom: 5vw;
  z-index: 10;
}
.ButtonsWrapperA {
  margin-right: auto;
}
.ButtonsWrapperB {
  margin-left: auto;
}

/* DesignSVG */
.DesignerSVG_FILL,
.DesignerSVG_OUTLINE {
  width: 105%;
  margin-left: -2.5%;
  position: absolute;
  /* align-self: flex-end;
  margin-bottom: -4%; */
}
.DesignerSVG_FILL {
  fill: #ffffff;
  z-index: 2;
}
.DesignerSVG_OUTLINE {
  fill-opacity: 0%;
  stroke: rgb(255, 255, 255);
  stroke-width: 2.5px;
  z-index: 10;
}
.DesignerWrapper {
  width: 100vw;
  aspect-ratio: 4.08/1;
  /* height: auto; */
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 20px 0 10px 0;
  /* position: relative; */
  overflow-x: hidden;
}

.SplashVideoCropperWIDE {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;

  width: 100%;
  aspect-ratio: 20/9;

  z-index: 3;
  /* margin-bottom: -45%; */
}
.SplashVideoCropperMOBILE {
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;

  width: 100%;
  height: auto;

  z-index: 3;
  /* margin-bottom: -45%; */
}
/* BELOW FOLD ______________ */

.TextScrollerWrapper {
  display: flex;
  position: relative;
  justify-content: bottom;
  align-items: center;

  margin-top: -20%;

  height: auto;
  width: 100%;

  overflow: hidden;
  flex-direction: column;
}

.TextScrollerLEFT,
.TextScrollerRIGHT {
  white-space: nowrap;
  font-size: calc(40px + 1vw);
  text-align: center;

  font-family: "TG_Comp_Medium";
  text-transform: uppercase;
  font-style: italic;

  color: var(--Text-color);
}

.TextScrollerRIGHT {
  margin-top: -1em;
  margin-bottom: 0;
}

.GoodDSNThat {
  display: flex;
  gap: 0em;
}
.GDSNT01 {
  z-index: 2;
}
.GDSNT02 {
  z-index: 3;
  position: absolute;
  margin: 0;
}

.ImageCopy {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 5em;

  width: 100%;
  height: auto;
  padding-top: 15vh;
  padding-bottom: 20vh;
}
.CopyButtonCombo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.DDBGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 100px;
  column-gap: 2%;

  width: 80vw;
  margin: 0 auto;

  position: relative;

  padding-bottom: 15vh;
  z-index: 3;
}
.DDBGridITEM,
.DDBGridITEMNS {
  padding-left: 25px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
.DDBGridITEM {
  /* box-shadow: -5px 0 0 0 var(--highlight-color); */
  border-left: 5px solid var(--highlight-color);
}

.DDBTitle {
  font-family: "TG_Comp_Medium";
  text-transform: uppercase;
  font-style: italic;
  white-space: nowrap;
  font-size: calc(40px + 1vw);
  margin: 0;
  color: var(--Text-color);
}
.SquircleBackground {
  background-color: var(--highlight-color);
  padding: 0.1em 1em 0em 14em;
  margin: 0 0 -.95em -10em;
  border-radius: 2em 0em 2em 2em;
  height: 0.9em;
}

.PortfolioGrid {
  margin: 0 auto;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 45% 25% 25%;

  grid-template-areas:
    "large img1 img2"
    "large casetitle casetitle";

  max-height: 80vh;
  height: 80vh;
  width: 90vw;

  gap: 1vw;
}

.PortfolioGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large {
  grid-area: large;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
}

.img1 {
  grid-area: img1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
}
.img2 {
  grid-area: img2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
}
.casetitle {
  grid-area: casetitle;

  margin: 0;
}

.PortfolioTitle {
  font-size: calc(100px + 1vw);
  font-family: "TG_Comp_Medium";
  text-transform: uppercase;
  font-style: italic;
  white-space: nowrap;
  margin: 0em 0em 0.25em 0em;
  color: var(--Text-color);
}

.PortfolioTag {
  background-color: transparent;
  border: none;
  font-family: "TG_Normal_Standard";
  text-transform: uppercase;
  font-size: var(--button-font-size);
  color: var(--highlight-color);
  white-space: nowrap;

  height: fit-content;
  width: fit-content;
  padding: 0.6em 1.5em 0.6em 1.5em;
  margin: -0em 0.5em 0em 0.5em;
  border-radius: 2em 2em 2em 0px;
  box-shadow: 0px 0px 0px 2px var(--highlight-color) inset;
}

.TitlesFW {
  text-align: center;
  margin: 1em 0em 1em 0em;

  font-family: "TG_Normal_Bold";
  font-weight: normal;
  font-size: calc(100px + 1vw);
  line-height: 1.05em;

  text-transform: uppercase;
  font-style: italic;

  margin: 0;
  color: var(--Text-color);
}

.footer {
  /* margin-top: 10vh; */
  padding: 5% 0% 1% 0%;
  background-color: #000000;

  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footertext {
  color: #ffffff;
  text-align: center;
  font-size: calc(10px + 0.5vw);

  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer svg {
  max-width: 40px;
}

.SocialLogos {
  height: auto;
  width: 25px;
  fill: #ffffff;
  z-index: 1;
}
.SocialButton {
  display: flex;
  align-content: center;
  justify-content: center;

  outline: 2px solid var(--highlight-color);
  border-radius: 50px;
  padding: 10px;
  height: 30px;
  width: 30px;

  font-size: 10px;
  color: #ffffff;
  text-align: center;
  transition: 0.3s;
}
.SocialWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 1%;
}

.SocialButton:hover {
  background-color: var(--highlight-color);
  outline: none;
  color: #000000;
  .SocialLogos {
    fill: #000000;
  }
}

.ButtonSquroundedShowHide {
  background-color: var(--highlight-color);
  border: none;
  font-family: "TG_Normal_Bold";
  text-transform: uppercase;
  font-size: var(--button-font-size);
  white-space: nowrap;

  height: fit-content;
  width: fit-content;
  padding: 0.6em 1.5em 0.6em 1.5em;
  border-radius: 2em 2em 2em 0px;
}
.ButtonSquroundedShowHide:hover {
  background-color: black;
  box-shadow: 0px 0px 0px 2px var(--highlight-color) inset;
  color: var(--highlight-color);
}
.ButtonSquroundedShowHide::before {
  content: "See more work!";
}
.ButtonSquroundedShowHide:hover::before {
  content: "Coming soon!";
}
.seemore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.FooterForm {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  background: #000000;
}
.GITFORM {
  color: #ffffff;
}

.TitlesFORMS {
  font-family: "TG_Normal_Bold";
  font-weight: normal;
  font-size: calc(70px + 2vw);
  line-height: 1.05em;

  text-transform: uppercase;
  font-style: italic;

  margin: 0% 0% 0% -0%;
  /* color: #ffffff; */
}

form {
  max-width: 540px;
  padding: 5%;
}

.feedback-input {
  font-family: "TG_Normal_Standard";
  font-size: var(--button-font-size);

  color: rgb(255, 255, 255);
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid var(--highlight-color);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: var(--highlight-color);
  border-radius: 2em 2em 2em 0px;
  border: 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;

  font-family: "TG_Normal_Bold";
  text-transform: uppercase;
  font-size: var(--button-font-size);
}
[type="submit"]:hover {
  background: black;
  color: var(--highlight-color);
  box-shadow: 0px 0px 0px 2px var(--highlight-color) inset;
}

button#CB_FWD {
  all: unset;
  width: 5vw;
  height: 15vh;
  position: absolute;
  right: 0;
  margin-top: 15%;

  text-align: end;
  font-size: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--highlight-color);
  padding-right: 2vw;
  padding-bottom: 5vh;

  z-index: 50;
  transition: all 0.4s;
}
button#CB_BCK {
  all: unset;
  width: 5vw;
  height: 15vh;
  position: absolute;
  left: 0;
  margin-top: 15%;

  text-align: start;
  font-size: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--highlight-color);
  padding-left: 2vw;
  padding-bottom: 5vh;

  z-index: 50;
  transition: all 0.4s;
}

button#CB_FWD:hover {
  color: white;
  background: var(--highlight-color);
}
button#CB_BCK:hover {
  color: white;
  background: var(--highlight-color);
}

/* Owl Only */
.owl-theme .owl-dots .owl-dot span {
  width: 5vw;
  height: 10px;
  margin: 5px 5px;
  background: #d6d6d6;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--highlight-color);
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -2vw;
}
.owl-dots {
  position: relative;
  z-index: 30;
}
.owl-carousel .owl-theme {
  margin: 0 auto;
}

/* MOBILE ______________ */
@media (orientation: portrait) {
  :root {
    --button-font-size: calc(11px + 0.5vw);
  }
  .ButtonsWrapper {
    flex-direction: column-reverse;
  }
  .Splash {
    /* justify-content: center; */
    height: 50vh;
  }
  .SplashVideoCropperWIDE {
    display: none;
  }
  .SplashVideoCropperMOBILE {
    display: flex;
  }
  .TextScrollerWrapper {
    margin-top: -40%;
  }

  .TextScrollerLEFT,
  .TextScrollerRIGHT {
    white-space: nowrap;
    font-size: calc(25px + 1vw);
  }
  .img_4x5Crop {
    max-height: 45vh;
  }

  .DDBGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 6.5%;

    width: 90vw;
    margin: 0 auto;
  }
  .SquircleBackground {
    transform: translateY(-0.05em);
  }
  .MobC {
    text-align: center;
  }
  .MobS {
    font-size: calc(15px + 0.5vw);
  }
  .PortfolioGrid {
    margin-top: 5%;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 17% 30%;
    gap: 0.5vh;

    grid-template-areas:
      "large large"
      "casetitle casetitle"
      "img1 img2";
  }
  .PortfolioTitle {
    margin: 0;
    font-size: calc(55px + 1vw);
  }
  .PortfolioTag {
    font-size: 10px;
  }

  .ImageCopy {
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 0em;
  }

  .TitlesFW {
    font-size: calc(50px + 1vw);
    line-height: 1.05em;
    margin: 1.5em 0em 0em 0em;
  }

  .Splash video {
    transform: rotate(90deg);
  }

  button#CB_FWD {
    display: none;
  }
  button#CB_BCK {
    display: none;
  }

  .TitlesFORMS {
    font-size: calc(50px + 2vw);
  }

  .FooterForm {
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
  }
}

/* Extra ______________ */
.div_TEST {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
  height: 2160px;
  width: 100%;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.testbox {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0.1em, transparent 0.1em);
  background-size: 3em 3em;

  width: 50px;
  height: 50px;
}
